/* GENERAL */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


/* Variables */

$primary-color: #f3e9f1;
$secondary-color: #8f5bfe;

/*************/


/* HEADER */

header {
    background-color: $primary-color;
    nav {
        img {
            height: 6rem;
            width: 10rem;
        }
        a {
            color: $secondary-color;
        }
    }
}


/* FOOTER */

footer {
    background-color: $primary-color;
}